*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f5fbfb;
color:#0f172a;
overflow-x:hidden;
}

/* Splash */

#splash{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:linear-gradient(135deg,#14b8a6,#38bdf8);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
z-index:9999;
animation:fadeOut 3s forwards;
}

#splash h1{
font-size:3rem;
margin-bottom:10px;
}

#splash p{
font-size:1rem;
}

@keyframes fadeOut{
0%,80%{opacity:1;}
100%{
opacity:0;
visibility:hidden;
}
}

/* Navbar */

nav{
background:white;
padding:18px 20px;
display:flex;
justify-content:center;
align-items:center;
box-shadow:0 4px 20px rgba(0,0,0,.05);
position:sticky;
top:0;
z-index:100;
}

.logo{
font-size:1.5rem;
font-weight:700;
color:#14b8a6;
}

/* Hero */

.hero{
padding:40px 20px;
text-align:center;
}

.tag{
display:inline-block;
background:#dff7f3;
color:#14b8a6;
padding:8px 16px;
border-radius:999px;
font-weight:600;
margin-bottom:20px;
}

.hero h1{
font-size:3.2rem;
line-height:1;
font-weight:800;
margin-bottom:20px;
}

.hero h1 span{
color:#14b8a6;
}

.hero p{
font-size:1rem;
line-height:1.7;
color:#64748b;
max-width:500px;
margin:auto;
}

.btn{
display:inline-block;
margin-top:25px;
padding:15px 28px;
background:#14b8a6;
color:white;
text-decoration:none;
border-radius:16px;
font-weight:700;
box-shadow:0 10px 25px rgba(20,184,166,.25);
}

.hero-card{
margin-top:35px;
background:white;
padding:25px;
border-radius:28px;
box-shadow:0 12px 30px rgba(0,0,0,.08);
}

/* Sections */

.section-title{
text-align:center;
font-size:2rem;
margin:45px 0 25px;
}

/* Features */

.features{
display:grid;
grid-template-columns:1fr 1fr;
gap:16px;
padding:20px;
}

.feature-card{
background:white;
padding:22px;
border-radius:24px;
box-shadow:0 10px 25px rgba(0,0,0,.06);
transition:.3s;
}

.feature-card:hover{
transform:translateY(-6px);
}

.feature-card h3{
margin-bottom:10px;
}

/* Subjects */

.subjects{
display:grid;
grid-template-columns:1fr 1fr;
gap:16px;
padding:20px;
}

.subject{
background:white;
padding:20px;
border-radius:22px;
text-align:center;
font-weight:700;
box-shadow:0 10px 25px rgba(0,0,0,.06);
}

/* Motivation */

.motivation{
margin:25px;
padding:35px 25px;
border-radius:30px;
background:linear-gradient(135deg,#14b8a6,#38bdf8);
color:white;
text-align:center;
}

.motivation h2{
margin-bottom:12px;
}

/* Footer */

footer{
text-align:center;
padding:30px;
color:#64748b;
  }
